{% extends 'base.html.twig' %}
{% block title %}Read {{ title }}{% endblock %}
{% block body %}
<h1>{{ title }}</h1>

<h2>Comments ({{ comments|length }})</h2>
<ul>
{% for comment in comments %}
    <li>{{ comment }}</li>
{% endfor %}
</ul>
    {{ dump() }}
{% endblock %}